<section id="particles">
  <div class="cards">
    <div class="card-black">
      <figure>
        <img src="../../../assets/card-black.png" alt="">
      </figure>
    </div>
    <div class="card-gold">
      <figure>
        <img src="../../../assets/card-gold.png" alt="">
      </figure>
    </div>
  </div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</section>
<section id="porque">
  <h2>
    Por que club VIP?
  </h2>
  <p>
    Todas las empresas estamos en la búsqueda de clientes y el éxito depende de los canales de distribución y planes de fidelización
  </p>
  <p>
    Es por esto que nació Club Card Vip una empresa conformada por un grupo de profesionales en el manejo de grupos de ventas
    con experiencia certificada de mas de 14 años, nos dedicamos a brindar canales de venta telefónica a nivel nacional con
    una plataforma con capacidad para mas de 200 asesores comerciales alta y constantemente capacitados en procesos de ventas.
  </p>
</section>
<section id="tarjeta">
  <h2>
    La Tarjeta
  </h2>
  <p>
    Somos La mejor tarjeta de descuentos del mercado la cual otorga descuentos del 5 al 50% en múltiples establecimientos a nivel
    nacional a si como regalos y beneficios de bienvenida hacer parte del club como cliente es hacer parte de un selecto
    y prestigioso grupo de personas tratadas de forma preferencial por nuestros proveedores para los cuales ser parte del
    club significa estar en la mayor organización comercial con acceso a clientes VIP a nivel nacional
  </p>
</section>
<section id="alcance">
  <h2>
    Alcance
  </h2>
  <p>
    MAS DE 38000 MIL CLIENTES EXISTENTES
  </p>
  <p>
    PROMEDIO DE 1100 CLIENTES NUEVOS MES A MES
  </p>
  <p>
    TARJETA DE BENEFICIOS CON CIRCULACION CERRADA Y BENEFICIOS A NIVEL NACIONAL
  </p>
</section>
<section id="beneficios">
  <h2>Beneficios de ser proveedor</h2>
  <p>
    Plan de Fidelización por medio de la tarjeta Club Card VIP su empresa ya cuenta con un robusto plan de fidelización para
    sus clientes con el cual vera reflejado un aumento significativo en su facturación
  </p>
  <p>
    Clientes nuevos mes a mes: Con Club Card Vip su empresa otorga descuentos y trato preferencial a nuestros clientes los cuales
    aumentan en 1800 mes a mes
  </p>
  <p>
    Clientes Existentes contamos con una base de mas de 120 mil clientes existentes donde por medio de envió de correos masivos
    y nuestra pagina web tendrá una penetración del 100 % en el mercado
  </p>
</section>
<section id="paquetes">
  <h2>
    Paquetes Club Card VIP
  </h2>
  <ul>
    <li>CORREOS MASIVOS</li>
    <li>TELEMERCADEO</li>
    <li>PAGINA WEB</li>
    <li>APLICACION</li>
    <li>REDES SOCIALES</li>
    <li>VOLANTES</li>
  </ul>
</section>
<section id="comisiones">
  <h2>
    Tabla comisiones
  </h2>
  <ul>
    <li>0 -50 CLIENTES 0% </li>
    <li>51 - 100 CLIENTES 5%</li>
    <li>101- CLIENTES 10%</li>
  </ul>
</section>
