<section id="particles">
  <div class="cards">
    <div class="card-black">
      <figure>
        <img src="../../../assets/card-black.png" alt="">
      </figure>
    </div>
    <div class="card-gold">
      <figure>
        <img src="../../../assets/card-gold.png" alt="">
      </figure>
    </div>
  </div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</section>
<section id="nosotros">
  <h2>
    Por que club VIP?
  </h2>
</section>
<section id="beneficios">
  <h2>
    La Tarjeta
  </h2>
</section>
<section id="convenios">
  <h2>
    Alcance
  </h2>
</section>
<section id="planes">
  <h2>Beneficios de ser proveedor</h2>
</section>
<section id="confian">
  <h2>
    Paquetes Club Card VIP
  </h2>
  <div class="providers">
  </div>
</section>
<section id="confian">
  <h2>
    Tabla comisiones
  </h2>
  <div class="providers">
  </div>
</section>
