@import "../../utilities";
aside {
  background: $SimpleGray;
  .logo {
    background: $Position;
    height: 84.5px;
    p {
      margin: 0;
    }
  }
}
nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  a {
    button {
      width: 100%;
      text-align: left;
      color: $Meulnes;
      font-family: $Lobster, cursive;
      font-weight: normal;
    }
  }
}
