@import "../../utilities";
.no-mobile-menu {
  display: flex;
  @include breakpoint(phablet) {
    display: none;
  }
  @include breakpoint(mobileonly) {
    display: none;
  }
}

.title {
  color: $MessYellow;
  font-family: $Lobster, cursive;
  font-weight: normal;
  text-decoration: none;
}
