@import "../../utilities";
h1,
h2,
h3 {
  color: $MessYellow;
  font-family: $Lobster, cursive;
  font-weight: normal;
}

p {
  font-family: $Oswal, cursive;
  font-weight: normal;
}

section {
  padding: 2em;
  color: $Position;
}

#nosotros {
  .somos,
  .vision {
    text-align: left;
  }
  .mision,
  .objetivos {
    text-align: right;
  }
}

#planes {
  .basic {
    text-align: left;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    figure {
      margin: 0;
      img {
        width: 150px;
      }
    }
  }
  .gold {
    text-align: right;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    figure {
      margin: 0;
      img {
        width: 150px;
      }
    }
  }
}

#contacto {
  .address {
    text-align: center;
  }
}

#beneficios,
#confian {
  background: $Position;
  p {
    color: $Meulnes;
    text-align: justify;
  }
}

#particles {
  position: relative;
  background: $Position;
  height: 550px;
  z-index: -2;
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;
    height: 100%;
    width: 100%;
    .card-black,
    .card-gold {
      figure {
        img {
          width: 245px;
          height: 150px;
        }
      }
    }
  }
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3em;
  a {
    color: $Meulnes;
  }
  a:hover {
    color: $MessYellow;
  }
}
