<section id="particles">
  <div class="cards">
    <div class="card-black">
      <figure>
        <img src="../../../assets/card-black.png" alt="">
      </figure>
    </div>
    <div class="card-gold">
      <figure>
        <img src="../../../assets/card-gold.png" alt="">
      </figure>
    </div>
  </div>
  <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
</section>
<section id="nosotros">
  <h2>
    Nosotros
  </h2>
  <div class="somos">
    <h3>Quienes Somos</h3>
    <p>
      Somos una empresa dedicada a la comercialización de marcas por medio de canales telefónicos a nivel nacional, brindando
      descuentos y beneficios a través de nuestros proveedores con la colocación de la mejor tarjeta de descuentos Club
      Card vip sas, donde su empresa cuenta con robustos canales de distribución con más de 7 call center altamente entrenados
      en labores comerciales, con capacidad para más de 200 empleados con un alcance de 900 nuevos clientes efectivos mes
      a mes y una base de 36.000 clientes existentes para el posicionamiento de su marca.
    </p>
  </div>
  <div class="mision">
    <h3>
      Mision
    </h3>
    <p>
      Brindar a nuestros clientes más y mejores descuentos a nivel nacional e internacional por medio de la tarjeta Club card
      vip sas, con múltiples establecimientos comerciales aliados buscando así que ahorren dinero y tiempo.
    </p>
  </div>
  <div class="vision">
    <h3>Vision</h3>
    <p>
      Ser reconocida como la mejor tarjeta de descuentos del mercado, basándonos en un óptimo sistema de gestión de calidad
      y la capacitación continua de nuestros empleados y colaboradores, buscando la consecución de nuevos y mejores convenios
      que redunden en la satisfacción de nuestros clientes.
    </p>
  </div>
  <div class="objetivos">
    <h3>Objetivos</h3>
    <p>
      Convertirnos en la primera opción de descuentos a nivel nacional generando convenios con las principales marcas y empresas
      del país. Lograr los mejores descuentos que beneficien a nuestros clientes y proveedores, convirtiéndonos en la vitrina
      comercial más importante a nivel nacional.
    </p>
  </div>
</section>
<section id="beneficios">
  <h2>
    Beneficios
  </h2>
  <p>
    Los clientes con membresía de Club Card Vip o CCV por sus siglas, tiene la mejor tarjeta del mercado la cual es la llave
    para obtener los mejores descuentos a nivel nacional con múltiples establecimientos comerciales, donde ya se encuentran
    las mejores marcas como las principales cadenas hoteleras, deportes extremos, parques temáticos, parques infantiles,
    restaurantes, bares, servicios de asistencia vehículo al hogar, medica domiciliaria, instituciones educativas, Cursos
    de Inglés, parqueaderos, asistencia jurídica, contable, servicios para mascotas, envió de detalles, gimnasios, clínicas
    estéticas entre otros. Estamos en la búsqueda constante de nuevos y mejores convenios a nivel nacional y por esto es
    muy importante que su marca ya se encuentre en la mejor vitrina comercial de circulación cerrada, tarjeta de fidelización
    Club Card Vip sas por medio de descuentos y beneficios constantes Con Club Card Vip sas Su empresa logrará el posicionamiento
    y el aumento en la facturación que está buscando, ya que será promovida por medio de canales telefónicos y digitales
    a diario, así como él envió de correos masivos y la circulación de insertos publicitarios mes a mes a más de 900
    clientes nuevos, que se mantendrán informados de sus campañas y promociones.
  </p>
</section>
<section id="planes">
  <h2>
    Planes
  </h2>
  <div class="basic">
    <figure><img src="../../../assets/basic.png" alt=""></figure>
    <p>
      Los socios básicos del club Gold cuentan con acceso y visibilidad de su marca por medios magnéticos o correo electrónico
      en nuestro mensaje de bienvenida y campañas cupones de descuento mes a mes
    </p>
  </div>
  <div class="gold">
    <figure><img src="../../../assets/gold.jpg" alt=""></figure>
    <p>
      Los socios Gold del club cuentan con vitrinas: Recordación: Por la mención de su empresa en canales telefónicos al colocar
      la tarjeta con mas de 200 asesores en 6 centros de llamadas magnéticas: con mensajes de bienvenida y campañas de envió
      masivo mes a mes Físicos: adjunto al portafolio y la tarjeta se envían cupones de descuento con su marca
    </p>
  </div>
</section>
<section id="confian">
  <h2>
    Quienes Confian en nosotros
  </h2>
</section>
<section id="contacto">
  <h2>
    Contacto
  </h2>
  <div class="address">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.612962044604!2d-74.06106378553534!3d4.662899143283235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a5ed1acbae1%3A0x64d87a4af9afdbb7!2sCra.+15+%2376-18%2C+Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1504494664988"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <p>
      Club Card Vip SAS CR 15 # 76 - 18 Ofi 402 - Tel 3507437249 <a href="mailto:ccardvip@gmail.com">ccardvip@gmail.com</a>      Bogotá Colombia
    </p>
  </div>
  <div>
    <h3>Redes Sociales</h3>
    <div class="social">
      <a href="">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-twitter-square" aria-hidden="true"></i>
      </a>
      <a href="">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="mailto:ccardvip@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
