<md-sidenav-container class="example-container">
  <md-sidenav mode="push" #sidenav class="example-sidenav">
    <app-side-navbar></app-side-navbar>
  </md-sidenav>
  <div class="example-sidenav-content">
    <div class="header-all">
      <button type="button" md-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
      <app-header></app-header>
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-footer class="footer"></app-footer>
</md-sidenav-container>
