<md-sidenav-container class="example-container">
  <md-sidenav mode="push" #sidenav class="example-sidenav">
    <aside>
      <nav>
        <ul>
          <li>
            <a routerLink="/" routerLinkActive="active">Inicio</a>
          </li>
          <li>
            <a routerLink="/providers" routerLinkActive="active">Proveedores</a>
          </li>
        </ul>
      </nav>
    </aside>
  </md-sidenav>
  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
        <md-icon>home</md-icon>
    </button>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</md-sidenav-container>
